{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<title>Legalized a Society & People Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Legalized Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="{% static '/css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static '///fonts.googleapis.com/css?family=Open+Sans:700,700italic,800,300,300italic,400italic,400,600,600italic' %}" rel='stylesheet' type='text/css'>
<!-- ==============================================
	Favicons
	=============================================== -->
	<link rel="shortcut icon" href="{% static 'images/favicon.ico'%}">
	<link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/apple-touch-icon-72x72.png' %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/apple-touch-icon-114x114.png' %}">
	
	<!-- ==============================================
	CSS VENDOR
	=============================================== -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/vendor/bootstrap.min.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/vendor/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/vendor/owl.carousel.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/vendor/owl.theme.default.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/vendor/magnific-popup.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/vendor/animate.min.css' %}">
	
	<!-- ==============================================
<!--Custom-Theme-files-->
   <link href="{% static '/css/owl.carousel.css' %}" rel="stylesheet" type="text/css" media="all" />
	<link href="{% static '/css/style.css' %}" rel='stylesheet' type='text/css' />	
	<script src="{% static '/js/jquery.min.js' %}"> </script>
<!--/script-->
<script type="text/javascript" src="{% static '/js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static '/js/easing.js' %}"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
</script>
<!--gallery-->
   <script src="{% static '/js/jquery.chocolat.js' %}"></script>
		<link rel="stylesheet" href="{% static '/css/chocolat.css' %}" type="text/css" media="all" />
		<!--light-box-files -->
		<script type="text/javascript">
		$(function() {
			$('#example1 a').Chocolat();
		});
		</script>
		<script type="text/javascript">
		$(function() {
			$('#portfolio a').Chocolat();
		});
		</script>
 <style>
	.dropdown {
		position: relative;
		display: inline-block;
	}
	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #032d69;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
	}
	.dropdown-content a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	}
	.dropdown-content a:hover {
		background-color: #5340e6;
	}
	.dropdown:hover .dropdown-content {
		display: block;
	}
	.dropdown:hover .dropbtn {
		background-color: #223ce2;
	}
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #d7d7d7;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #f6f6fa;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #edeef1;
    }
    
</style>
</head>
<body>
	<!--start-home-->
<div id="home" class="header">
    <div class="header-top">
        <div class="container">
            <span class="menu"></span>
            <div class="top-menu">
            <ul class="cl-effect-16">

                    
                </ul>
            </div>
        <!-- script-for-menu -->
            <script>
            $( "span.menu" ).click(function() {
              $( ".top-menu" ).slideToggle( "slow", function() {
                // Animation complete.
              });
            });
        </script>
        <div class="clearfix"></div>
<!--End-top-nav-script-->
        </div>
    </div>
     <div class="header-middle">
                 <div class="container">
            <div class="logo">
                <a class="navbar-brand" href="ind">
                    <img src="{% static 'images/logo.png' %}" alt="">
                </a>
            </div>
            
            <div class="header-top-right">
                
                <span class="menu"></span>
                <div class="top-menu">
                <ul class="cl-effect-16">
                        <li><a class="active" href="{% url 'ind' %}" data-hover="HOME">Home</a></li> 
                        <li><a class="active" href="{% url 'advocate_list' %}" data-hover="HOME">Advocate list</a></li> 
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropbtn" data-hover="PROFILE">Settings</a>
                            <div class="dropdown-content">
                                <a href="{% url 'client_profile_update' %}">Update Profile</a>
                                <a href="{% url 'change_password' %}">Change Password</a>
                                <a href="{% url 'client_profile_view' %}">View Profile</a>
                            </div>
                        </li>
                           <li> <a href="{% url 'logout' %}"  data-hover="LOGIN">Logout</a>
                            </li>
                            <!--<li>
                                <form>
                                    <input type="text" placeholder="Search" required="">
                                    <input type="submit" value="">
                                    <div class="clearfix"> </div>
                                </form>
                            </li>-->
                            </ul>
                            </div></div></div></div></div>
            </div>
            <div class="clearfix"> </div>
        </div>
        </div>
   </div>
   
   <div class="banner">
    <div class="container">
           <div  class="callbacks_container">
           <ul class="rslides" id="slider4">
           <li>
                       <div class="banner-info">
                           <h3>Welcome to Legal Advisor</h3>
                           <p>Start your destiny here...</p>
                       </div>
                   </li>
                   
                </div>  
                  
                           
                          
                       </div>
                   </li>
               </ul>
           </div>
          
           <!--banner-->
         <script src="{% static '/js/responsiveslides.min.js' %}"></script>
    <script>
       // You can also use "$(window).load(function() {"
       $(function () {
         // Slideshow 4
         $("#slider4").responsiveSlides({
           auto: true,
           pager:true,
           nav:true,
           speed: 500,
           namespace: "callbacks",
           before: function () {
             $('.events').append("<li>before event fired.</li>");
           },
           after: function () {
             $('.events').append("<li>after event fired.</li>");
           }
         });
   
       });
     </script>
   </div>
</div>
	<!--welcome-->
<div class="welcome">
    <div class="container">
       <h2><span>The Attorneys You Want On Your Side</span> </h2>
       <p>Every case is very important to us and we always take care of them seriously.</p>
        <!--<ul class="wel">
           <li>Get your Free Consultation </li>
            <li class="phone">(888) 123-456-7890</li>
            <li>Available 24/7 </li>
        </ul>-->
   </div>
</div>

<!-- requried-jsfiles-for owl -->
                       <script src="{% static '/js/owl.carousel.js' %}"></script>
                         <script>
                         $(document).ready(function() {
                              $("#owl-demo").owlCarousel({
                               items : 4,
                               lazyLoad : true,
                               autoPlay : false,
                               navigation : true,
                               navigationText :  true,
                               pagination : false,
                               });
                         });
                       </script>



	<!--/footer-->
    <div class="footer">
        <div class="container">
             <div class="footer-top">
                <div class="col-md-4 footer-grid">
                    
                </div>
                  <div class="col-md-4 footer-grid">
                     
                </div>
                <div class="col-md-4 footer-grid">
                    
                </div>
                <div class="clearfix"> </div>
             </div>
        </div>
     </div>
    <div class="copy">
        <p>&copy; 2016 Legalized. All Rights Reserved | Design By <a href="http://w3layouts.com/">W3layouts</a></p>
    </div>
    <!--//footer-->
        <!--start-smooth-scrolling-->
                    <script type="text/javascript">
                                $(document).ready(function() {
                                    /*
                                    var defaults = {
                                          containerID: 'toTop', // fading element id
                                        containerHoverID: 'toTopHover', // fading element hover id
                                        scrollSpeed: 1200,
                                        easingType: 'linear' 
                                     };
                                    */
                                    
                                    $().UItoTop({ easingType: 'easeOutQuart' });
                                    
                                });
                            </script>
    <a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>


</body>
</html>